fieldset{
    border-radius: 15px;
}

textarea{
    margin-top: 5px;
}

.contact-us{
    max-width: 550px;
}

.formshape{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
}
