form {
    border: 2px solid black;
    border-radius: 15px;
}

fieldset{
    border: none;
}

textarea{
    margin-top: 5px;
}

.contact-us{
    max-width: 550px;
}

.formshape{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
}
