
@import url("imports/variables.css");

/* Intro section */

.introduction{
    margin: 40px auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-picture{
    margin: auto;
    max-width: 650px;
    width: 80%;
}


/* Newest posts scrollable box */ 

.newest-posts{
    min-height: 350px;
    border: 2px solid;
    margin: 20px auto;
    max-width: 850px;
    display: flex;
    overflow-y: scroll;
}

.single-post-in-list{
    display: grid;
    /* margin: 20px; */
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.single-post-in-list > h3{
    width: 250px;
}

.preview-header{
    
}

.link-on-thumbnail{
    align-self: center;
}

.featured_img_thumbnail{
    max-width: 75px;
    
}


@media (min-width: 600px) {
    .newest-posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

