
@import url("imports/variables.css");

/* Intro section */

.introduction{
    margin: 40px auto;
}

.introduction,  .intro-info, .about-and-contact{
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-picture{
    margin: auto;
    max-width: 650px;
    width: 80%;
    border-radius: 25px;
    border: 2px solid var(--text-color);
}

.intro-info > p{
    margin: 0.5rem;
}

/* Newest posts scrollable box */ 

.newest-posts{
    min-height: 500px;
    border: 2px solid;
    margin: 20px auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.loader{
    grid-column: 2/4;
    align-self: center;
    margin: 50%;
}

.single-post-in-list{
    margin: 0px 20px;
    display: grid;
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 450px;
    padding-top: 15px;
}

.link-on-thumbnail{
    align-self: center;
    height: 100px;
}


.preview-header{
    width: 250px;
    font-size: 1.4rem;
}

.single-post-in-list > p{
    height: 75px;
    overflow: hidden;
    margin: 5px auto;
    max-width: 650px;
    width: 80%;
    text-align: center;
}

.featured_img_thumbnail{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
}

.no-more-posts{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backandforth{
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

/* Contact and about */

.about-and-contact{
    max-width: 500px;
}

 
@media (min-width: 600px) {
    .newest-posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        overflow-y: hidden;
    }
}
