@import url("imports/variables.css");

/* GLOBAL STYLES */

body{
    margin: 0;
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-fonts);
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
}


a, p, li{
    font-family: var(--regular-fonts);
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.35;
    font-weight: 500;
}


li > a{
    text-decoration: none;
    color: var(--text-color);
}

/* STYLING THE HEADER */ 

header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
    max-width: 100%;
}

header > a{
    padding: 5px;
    display: flex;
    align-items: center;
}

.header_logo{
    height: 100%;
    background-color: var(--logo-color);
    padding: 3px;
    border-radius: 10px;
}

.nav_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px;
    background-color: var(--primary-color);
    width: 70%;
    border-radius: 0px 0px 0px 15px;
    padding: 50px 0px 0px 0px;
    align-items: flex-end;
    align-self: flex-end;
}

.nav_li{
    list-style: none;
    margin: 10px 15px;
}

.nav_li > a{
    font-family: var(--header-fonts);
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0px 10px;
    transition: ease-in-out 0.3s;
}

/* //////// THIS IS FOR CREATING THE HAMBURGER MENU //////// */

nav{
    display: none;
    width: 100%;
}

#hamburger_menu{
    display: none;
}

#hamburger_menu:checked ~ nav{
    display: flex;
    flex-direction: column;
    position: relative;
}

#menu_icon{
    font-size: 2rem;
    display: block;
    position: absolute;
    z-index: 1;
    top: 1.2%;
    right: 2.5%;
    padding: 0rem 1.5rem;
}

#menu_icon:hover{
    cursor: pointer;
    position: absolute;
}

/* MAIN */ 

main{
    min-height: 750px;
}

.regular-text{
    margin: 5px auto;
    max-width: 650px;
    width: 80%;
}

.main-cta-btn{
    border: 2px solid var(--text-color);
    padding: 15px 25px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    margin: 15px 10px;
    text-decoration: none;
    
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    filter: drop-shadow(20px 10px 4px var(--text-color));
    transition: ease-in-out 0.2s;
}

.main-cta-btn:hover{
    filter: drop-shadow(15px 5px 2px var(--cool-orange));
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5eg);
    -ms-transform: skewX(-5deg);
    
}

.single-post-in-list{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    justify-content: space-between;
}

.single-post-in-list > h3{
    width: 250px;
}

/* THIS IS FOR THE FOOTER */
footer{
    height: 50px;
    border-top: 2px solid black;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    background-color: var(--primary-color);
    max-width: 100%;
}

a > i{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    margin: 0px 15px;
    display: inline;
}

.about{
    align-self: flex-end;
    background-color: var(--primary-color);
}

/* MEDIA QUERIES AT THE BOTTOM */

@media (min-width: 600px) {
    header{
        height: 70px;
        align-items: center;
    }

    header > a{
        padding: 10px;
        height: 60px;
    }

    nav{
        display: flex;
        align-items: center;
        margin-right: 112px;
    }

    .nav_ul{
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        padding: 0px;
        width: 100%;
    }
    
    .nav_li{
        margin: 0px;
    }

    .nav_li > a{
        text-decoration: none;
        font-size: 2rem;
    }
    #hamburger_menu:checked ~ nav {
        display: flex;
        align-items: center;  
    }
    #menu_icon{
        display: none;
    }

    .single-post-in-list{
        width: auto;
    }
    
    .single-post-in-list > h3{
        width: auto;
    }
}