section{
    margin: 40px auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 750px;
}

.featured-picture{
    margin: auto;
    max-width: 650px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    object-fit: cover;
}
.single-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.single-post > p{
    margin: 5px auto;
    max-width: 650px;
    width: 80%;
}

.featured-picture{
    max-height: 500px;
}

figure > img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    object-fit: contain;
}

/* Image modals */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal img {
    width: 50%;
    object-fit: cover;
}

/* Comment section */

.enter-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    min-width: 100%;
}

label, textarea, button{
    margin: 5px;
}

textarea{
    min-width: 70%;
}

.all-comments-on-post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-comment{
    width: 90%;

}