:root{
    --primary-color: #E5E5E5;
    --header-fonts: 'Oswald', 'Open Sans', Arial, Helvetica, sans-serif;
    --regular-fonts: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    --text-color: #14213D;
}

/* This part of the site is not too filled out yet, it's mostly as a proof of concept for my own sake */