:root{
    --primary-color: #f4f3ef;
    --header-fonts: 'Golos Text', 'Open Sans', Arial, Helvetica, sans-serif;
    --regular-fonts: 'Tilt Neon', 'Open Sans', Arial, Helvetica, sans-serif;
    --text-color: #14213D;
    --cool-orange: #FCA311;
}

/* This part of the site is not too filled out yet, it's mostly as a proof of concept for my own sake */
/* #f4f3ef 
    old - E5E5E5*/